{% extends "base_media.html" %}

{% load image_utils date categories cache %}

{% block title %}Galleries{{ block.super }}{% endblock %}

{% block meta_description %}Galleries from the Virginia Tech Carilion Research Institute.{% endblock %}

{% block feeds %}{% endblock %}

{% block view_type %}list{% endblock %}

{% block app_type %}gallery{% endblock %}

{% block primary_content %}
<div id="content_list">
	<h1>Galleries</h1>

<ul>
{% cache 500 gallery_list page_obj %}
{% for gallery in gallery_list %}
	<li class="tease">
		<h2>
			<a href="{{ gallery.get_absolute_url }}" title="{{ gallery.title }}">
				{% for photo in gallery.photos.all|slice:"1" %}
					<img src="{{ photo.photo|crop:"150x150" }}" alt_text="{{ photo.alt_text }}">
				{% endfor %}
				{{ gallery.title }}
			</a>
		</h2>
		<p class="content_meta">Created {{ gallery.created|date:"N j, Y" }} at {{ gallery.created|date:"P" }}</p>
		<p class="summary">{{ gallery.description|truncatewords:"30" }}</p>
	</li>
{% endfor %}
{% endcache %}
</ul>

	<p id="pagination">{% if page_obj.has_next %}<a href="?page={{ page_obj.next_page_number }}">&laquo; Older galleries</a>{% endif %}{% if page_obj.has_previous and page_obj.has_next %} | {% endif %}{% if page_obj.has_previous %}<a href="?page={{ page_obj.previous_page_number }}">Newer galleries &raquo;</a>{% endif %}</p>

</div>
{% endblock %}

{% block secondary_content %}
<h2>Date-based archives</h2>

<h3>Year</h3>
{% get_gallery_year_list as year_list %}
<ul>
{% cache 500 gallery_list_year %}
{% for year in year_list %}
	<li><a href="{{ year|date:"Y"|lower }}/">{{ year|date:"Y" }}</a></li>
{% endfor %}
{% endcache %}
</ul>

<h3>Month</h3>
{% get_gallery_month_list as month_list %}
<ul>
{% cache 500 gallery_list_month %}
{% for month in month_list %}
	<li><a href="{{ month|date:"Y/M"|lower }}/">{{ month|date:"F Y" }}</a></li>
{% endfor %}
{% endcache %}
</ul>

<h2>Gallery categories</h2>
<p>Browse galleries by category:</p>
<ul>
{% cache 500 gallery_list_categories %}
{% get_category_list as category_list %}
{% for category in category_list %}
<li><a href="{{ category.get_absolute_url }}" title="{{ category.title }}">{{ category.title }}</a></li>
{% endfor %}
{% endcache %}
</ul>
{% endblock %}