{% extends "base_media.html" %}

{% load image_utils cache %}

{% block title %}Photos for {{ month|date:"F Y" }}{{ block.super }}{% endblock %}

{% block meta_description %}Photos for {{ month|date:"F Y" }} from the Virginia Tech Carilion Research Institute.{% endblock %}

{% block feeds %}{% endblock %}

{% block view_type %}list_date{% endblock %}

{% block date_type %} month{% endblock %}

{% block app_type %}photo{% endblock %}

{% block primary_content %}
<div id="content_list">
	<h1>Photos for {{ month|date:"F Y" }}</h1>

	{% regroup photo_list by uploaded|date:"l \t\h\e jS" as day_list %}
	<ul>
	{% cache 500 photo_list_month month %}
	{% for day in day_list %}
 	   <li>
    		<h3 class="day_grouper">{{ day.grouper }}</h3>
    		<ul>
        	{% for photo in day.list %}
				<li class="tease">
					<h2>
						<a href="{{ photo.get_absolute_url }}" title="{{ photo.title }}">
							<img src="{{ photo.photo|crop:"150x150" }}" alt_text="{{ photo.alt_text }}">
							{{ photo.title }}
						</a>
					</h2>
					<p class="content_meta">By {% if photo.photographer %}<a href="mailto:{{ photo.photographer.email }}">{{ photo.photographer.get_full_name }}</a>{% else %}{{ photo.one_off_photographer }}{% endif %}, published {{ photo.uploaded|date:"N j, Y" }} at {{ photo.uploaded|date:"P" }}</p>
					<p class="summary">{{ photo.caption|truncatewords:"30" }}</p>
				</li>
        	{% endfor %}
    		</ul>
    	</li>
	{% endfor %}
	{% endcache %}
	</ul>

</div>
{% endblock %}