{% extends "base_media.html" %}

{% load image_utils date categories cache %}

{% block title %}Videos{{ block.super }}{% endblock %}

{% block meta_description %}Videos from the Virginia Tech Carilion Research Institute.{% endblock %}

{% block feeds %}{% endblock %}

{% block view_type %}list{% endblock %}

{% block app_type %}video{% endblock %}

{% block primary_content %}
<div id="content_list">
	<h1>Videos</h1>

<ul>
{# cache 500 video_list page_obj #}
{% for video in video_list %}
	{% if video.thumbnail %}
	<li class="tease">
		<h2>
			<a href="{{ video.get_absolute_url }}" title="{{ video.title }}">
				<img src="{{ video.thumbnail|crop:"150x150" }}" alt_text="{{ video.thumbnail_alt_text }}">
				{{ video.title }}
			</a>
		</h2>
		<p class="content_meta">{% comment %}By {% if video.videographer %}<a href="mailto:{{ video.videographer.email }}">{{ video.videographer.get_full_name }}</a>{% else %}{{ video.one_off_videographer }}{% endif %}, {% endcomment %}Published {{ video.created|date:"N j, Y" }} at {{ video.created|date:"P" }}</p>
		<p class="summary">{{ video.caption|truncatewords:"30" }}</p>
	</li>
	{% else %}
	<li class="no_tease">
		<h2>
			<a href="{{ video.get_absolute_url }}" title="{{ video.title }}">
			{{ video.title }}
			</a>
		</h2>
		<p class="content_meta">{{ video.created|date:"N j, Y" }},<br>{{ video.created|date:"P" }}</p>
	</li>
	{% endif %}
{% endfor %}
{# endcache #}
</ul>

	<p id="pagination">{% if page_obj.has_next %}<a href="?page={{ page_obj.next_page_number }}">&laquo; Older videos</a>{% endif %}{% if page_obj.has_previous and page_obj.has_next %} | {% endif %}{% if page_obj.has_previous %}<a href="?page={{ page_obj.previous_page_number }}">Newer videos &raquo;</a>{% endif %}</p>

</div>
{% endblock %}

{% block secondary_content %}
<h2>Date-based archives</h2>

<h3>Year</h3>
{% get_video_year_list as year_list %}
<ul>
{% cache 500 video_list_year %}
{% for year in year_list %}
	<li><a href="{{ year|date:"Y"|lower }}/">{{ year|date:"Y" }}</a></li>
{% endfor %}
{% endcache %}
</ul>

<h3>Month</h3>
{% get_video_month_list as month_list %}
<ul>
{% cache 500 video_list_month %}
{% for month in month_list %}
	<li><a href="{{ month|date:"Y/M"|lower }}/">{{ month|date:"F Y" }}</a></li>
{% endfor %}
{% endcache %}
</ul>

<h2>Video categories</h2>
<p>Browse video by category:</p>
<ul>
{% cache 500 video_list_categories %}
{% get_category_list as category_list %}
{% for category in category_list %}
<li><a href="{{ category.get_absolute_url }}" title="{{ category.title }}">{{ category.title }}</a></li>
{% endfor %}
{% endcache %}
</ul>
{% endblock %}