/* Print stylesheet */

#header, .content_tools, #more_related, #content_categories, #secondary_content, #bottom_nav, #social, #partners, #map_note {
display: none !important;
}

#events.detail #secondary_content {
display: block !important;
position: relative !important;
top: 0 !important;
right: 0 !important;
width: auto !important;
margin: 0 !important;
padding: 0 !important;
color: #000 !important;
}

body, #wrap, #content, #primary_content, .content_body, #footer, #partners, #social {
float: none !important;
width: auto !important;
margin: 0 !important;
padding: 0 !important;
} 

html body, #content, #footer {background: none;}

#primary_content a[href]:after, #footer a[href]:after {
content: " (" attr(href) ") ";
font-size: 90%;
}

#primary_content a[href^="/"]:after, #footer a[href^="/"]:after {
content: " (#" attr(href) ") ";
}