<ul id="featured_content">
	<li>
		<a href="/events/distinguished-visiting-scholars-series/">
			<img src="{{ STATIC_URL }}/images/dvs_promo.jpg" height="100" width="150" alt="Adrian Raine">
			<h2>Distinguished Visiting Scholars Series</h2>
		</a>
			<p>This series brings world-famous scientists to Roanoke.</p>
	</li>
	<li>
		<a href="http://roanokebrainstudy.org/">
			<img src="{{ STATIC_URL }}/images/brain_study_promo.png" height="100" width="150" alt="Image of a brain from MRI scan">
			<h2>Roanoke Brain Study</h2>
		</a>
			<p>Learn about the 5,000 subject study and how you can participate.</p>
	</li>
	<li>
		<a href="/research-seminar-series/">
			<img src="{{ STATIC_URL }}/images/research_seminars_promo.jpg" height="100" width="150" alt="Marc Vermulst reearch image">
			<h2>Research Seminar Series</h2>
		</a>
			<p>View a list of recent seminars given by visiting researchers.</p>
	</li>
</ul>