	<ul>
		<li>
			<a href="#">
				<img src="http://static-dev.vtc.vt.edu/images/photos/VT35608_20110492-06_crop_630x270.jpg" width="150" height="150">
				<h2>Some promotion title goes here</h2>
			</a>
			<p>Maybe some additional text could go here.</p>
		</li>
		<li>
			<a href="#">
				<img src="http://static-dev.vtc.vt.edu/images/photos/VT35608_20110492-06_crop_630x270.jpg" width="150" height="150">
				<h2>Some promotion title goes here</h2>
			</a>
			<p>Maybe some additional text could go here.</p>
		</li>
	</ul>