{% extends "base_media.html" %}

{% load generic_markup images tagging_tags shorturl %}

{% block title %}{{ audio.title }}{{ block.super }}{% endblock %}

{% block meta_description %}{{ audio.description|striptags }}{% endblock %}

{% block revcanonical %}
	{% revcanonical object %}
{% endblock %}

{% block facebook_meta_data %}
<meta property="og:title" content="{{ audio.title }}"/> 
<meta property="og:site_name" content="#"/> 
<meta property="og:image" content="{{ audio.thumbnail }}"/>
<meta property="og:type" content="article" /> 
<meta property="og:url" content="{{ audio.get_absolute_url }}"/>
<meta property="og:description" content="{{ audio.description|striptags }}"/> 
<meta property="fb:admins" content="120821141294258, 27403640"/> 
{% endblock %}

{% block feeds %}{% endblock %}

{% block view_type %}detail{% endblock %}

{% block app_type %}audio{% endblock %}

{% block primary_content %}
{% include "includes/content_tools.html" %}

<div id="audio_{{ audio.id }}" class="content_body">
	<h1>{{ audio.title }}</h1>
	
	<audio controls>
		<source src="{{ audio.audio }}" type="audio/mpeg">
		<a href="{{ audio.audio }}">Download the audio</a>
	</audio>
	
	<p id="byline">By {% if audio.producer %}<a href="mailto:{{ audio.producer.email }}">{{ audio.producer.get_full_name }}</a>{% else %}{{ audio.one_off_producer }}{% endif %}</p>

	{% if audio.thumbnail %}
	<img src="{{ audio.thumbnail|thumbnail:"150x150" }}" alt="{{ audio.photo.alt_text }}" id="thumbnail">
	{% endif %}

	{{ audio.description|apply_markup:"markdown" }}
	
</div>

{% include "includes/content_tools.html" %}

<div id="more_related">
	<div class="more_related_content">
	<h2>Related audio</h2>
	{% if audio.related_audio_set.count %}
	<ul id="related_audio">	
	{% for related_audio in audio.related_audio_set.all %}
    	<li><a href="{{ related_audio.get_absolute_url }}" title="{{ related_audio.title }}">{{ related_audio.title }}</a></li>
	{% endfor %}
	</ul>
	{% else %}
	<p>There is no related audio to this audio.</p>
	{% endif %}
	</div>
	
	<div class="more_related_content">
	<h2>Related topics</h2>
	{% if audio.tags %}
	{% tags_for_object audio as tag_list %}
	<ul id="related_tags">
	{% for tag in tag_list|slice:"5" %}
		<li><a href="/audio/{{ tag.name }}/" title="{{ tag.name }}">{{ tag.name }}</a></li>
	{% endfor %}
	</ul>
	{% else %}
	<p>There are no topics specified for this audio.</p>
	{% endif %}
	</div>
	
</div>

<div id="content_categories">
	<h3>Category{{ audio.category.count|pluralize:"y,ies" }}:</h3>
	<ul>
	{% for category in audio.category.all %}
		<li><a href="{{ category.get_absolute_url }}">{{ category.title }}</a></li>
	{% endfor %}
	</ul>
</div>

{% endblock %}

{% block secondary_content %}
	{% if audio.live_story_set %}
	<div id="related_content">
		<h2>Related story{{ audio.live_story_set.count|pluralize }}</h2>
		<ul class="related_item_list">
		{% for story in audio.live_story_set %}
			<li><a href="{{ story.get_absolute_url }}" title="{{ story.headline }}">{{ story.headline }}</a></li>
		{% endfor %}
		</ul>
	</div>
	{% endif %}
{% endblock %}

{% block in_body_js %}
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({status: true, cookie: true,
             xfbml: true});
  };
  (function() {
    var e = document.createElement('script'); e.async = true;
    e.src = document.location.protocol +
      '//connect.facebook.net/en_US/all.js';
    document.getElementById('fb-root').appendChild(e);
  }());
</script>
{% endblock %}