{% extends "base_events.html" %}

{% load generic_markup image_utils cache %}

{% block title %}Events for {{ eventtype.title }}{{ block.super }}{% endblock %}

{% block meta_description %}{% if eventtype.description %}{{ eventtype.description }}{% else %}Events for {{ eventtype.title }}.{% endif %}{% endblock %}

{% block feeds %}<link rel="alternate" href="/feeds/eventtypes/{{ eventtype.slug }}/"> {% endblock %}

{% block view_type %}list{% endblock %}

{% block app_type %}events{% endblock %}

{% block primary_content %}

<div id="content_list">
	<h1>{{ eventtype.title }}</h1>

	{% if eventtype.description %}{{ eventtype.description|apply_markup:"markdown" }}{% endif %}

	{% if eventtype.current_event_set %}
	<ul>
	{% cache 500 event_by_type eventtype.title %}
	{% for event in eventtype.current_event_set|dictsort:"event_date" %}
				{% if event.lead_image %}
	<li class="tease">
		{% if event.show_webcast %}<span class="live_webcast">Live webcast now!</span>{% endif %}
		<h2>
			<a href="{{ event.get_absolute_url }}" title="{{ event.name }}">
				<img src="{{ event.lead_image|crop:"150x150" }}" alt_text="{{ event.name }}">
				{{ event.name }}
			</a>
		</h2>
		<p class="content_meta">{{ event.event_date|date:"N jS" }}, {% if event.is_all_day %}all day{% else %}{{ event.start_time }}{% endif %} at {{ event.location }}</p>
		{% if event.speaker %}<p class="event_speaker">Speaker: {% if event.speaker_website %}<a href="{{ event.speaker_website }}">{{ event.speaker }}</a>{% else %}{{ event.speaker }}{% endif %}{% if event.speaker_title %}, {{ event.speaker_title }}{% endif %}</p>{% endif %}
		{% if event.description %}<p class="summary">{{ event.description|truncatewords:"30" }}</p>{% endif %}
	</li>
	{% else %}
	<li class="no_tease">
		{% if event.show_webcast %}<span class="live_webcast">Live webcast now!</span>{% endif %}
		<h2>
			<a href="{{ event.get_absolute_url }}" title="{{ event.name }}">
			{{ event.name }}
			</a>
		</h2>
		<p class="content_meta">{{ event.event_date|date:"N jS" }}, {% if event.is_all_day_event %}all day{% else %}{{ event.start_time }}{% endif %} at {{ event.location }}</p>
		{% if event.speaker %}<p class="event_speaker">Speaker: {% if event.speaker_website %}<a href="{{ event.speaker_website }}">{{ event.speaker }}</a>{% else %}{{ event.speaker }}{% endif %}{% if event.speaker_title %}, {{ event.speaker_title }}{% endif %}</p>{% endif %}
	</li>
	{% endif %}
	{% endfor %}
	{% endcache %}
	</ul>
	{% else %}
	<p><em>There are no upcoming events at this time.</em></p>
	{% endif %}

</div>
{% endblock %}

{% block secondary_content %}
<h2>RSS</h2>
<p class="rss"><a href="/feeds/eventtypes/{{ eventtype.slug }}/" title="RSS feed for {{ eventtype.title }}">Subscribe to a feed for events of this type</a></p>
{% endblock %}